<div class="container-all">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: #090909">
    <a class="navbar-brand" style="color: white;" href="#">
      <i class="fas fa-cocktail"></i> Cocktail Land
  </a>
  <a class="nav-link" style="align-items: center;"> <%= link_to "Add a Cocktail", new_cocktail_path %></a>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>
    </div>
  </div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.url %>
        <div class="card-category" style="background-image: url('<%= cl_image_path cocktail.photo , height: 180%>')">
      <% else %>
        <div class="card-category" style="background-image: url('https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
      <% end %>

        <%= link_to "#{cocktail.name}",cocktail_path(cocktail)%>
       </div>
    <% end %>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
